/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('background.jpg') no-repeat center fixed;
    background-size: cover;
    color: #f5f5f5;
    text-align: center;
    padding: 20px;
}

header {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.2rem;
    font-weight: 300;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 0;
    border: 5px solid #fff;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    object-fit: cover;
}

.social-media {
    margin: 20px 0;
}

.social-media h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #f5f5f5;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.1);
}

.social-media img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

.info {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    color: #f5f5f5;
}

.info h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.info p {
    font-size: 1rem;
    font-weight: 300;
    color: #dcdcdc;
}
